@import "tailwindcss";

html {
  font-size: clamp(14px, 0.84vw, 16px);
  scroll-behavior: smooth;
  position: relative;
}

button {
  cursor: pointer;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom {
  border-radius: 0.5rem !important;
  overflow: hidden;
  border: none !important;
  & > a {
    background: rgba(0, 0, 0, 0.6) !important;
    color: #fff !important;
    backdrop-filter: blur(10px);
  }
}

